// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//colors
$color_catskill_white_approx: #f1f3fa;
$white: #fff;
$color_kashmir_blue_approx: #1e6823;
$color_danube_approx: #8cc665;
$color_santas_gray_approx: #8cc665;
$color_alabaster_approx: #fafcfd;
$color_white_lilac_approx: #f6f9fb;

.profile {
	margin: 20px 0;
}
.profile-sidebar {
	padding: 20px 0 10px;
	background: $white;
}
.profile-usertitle {
	text-align: center;
	margin-top: 20px;
}
.profile-usertitle-name {
	color: $color_kashmir_blue_approx;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
}
.profile-usertitle-job {
	text-transform: uppercase;
	color: $color_danube_approx;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
}
.profile-userbuttons {
	text-align: center;
	margin: 15px;
}
.profile-usermenu {
	margin-top: 30px;
	ul li {
		border-bottom: 1px solid $color_catskill_white_approx;
		&:last-child {
			border-bottom: none;
		}
		a {
			color: $color_santas_gray_approx;
			font-size: 14px;
			font-weight: 400;
			i {
				margin-right: 8px;
				font-size: 14px;
			}
			&:hover {
				background-color: $color_alabaster_approx;
				color: $color_danube_approx;
			}
		}
		&.active {
			border-bottom: none;
			a {
				color: $color_danube_approx;
				background-color: $color_white_lilac_approx;
				border-left: 2px solid $color_danube_approx;
				margin-left: -2px;
			}
		}
	}
}
.profile-content {
	padding: 20px;
	background: $white;
	min-height: 460px;
}
.profile-userpic img {
	float: none;
	margin: 0 auto;
	width: 50%;
	height: 50%;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50% !important;
}